.container, body{
    position: relative;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding:0;
    margin:0;
    overflow: hidden;
    opacity: 0;
    animation: breakOfDawn 33s linear ;
}
@keyframes breakOfDawn {
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    93% { opacity: 0; }
    100% { opacity: 0; }
}
.sky{
    width: 100%;
    height: 70%;
    background-color: rgb(90, 207, 247);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow:hidden;
}

.ground{
    width: 100%;
    height: 30%;
    background-color: rgb(22, 122, 22);  
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.cloud{
    width: 100px;
    position: absolute;
    animation: moveCloud 30s linear; 
    top: -55px; 
    right: -100px; 
}
@keyframes moveCloud {
    0% { 
        right: -100px; 
        top: -55px; 
    }
    100% { 
        right: 120%; 
        top: -55px; 
    }
}
.cloud-2{
    width: 100px;
    position: absolute;
    animation: moveCloud2 30s linear; 
    top: -10px; 
    right: -400px; 
}
@keyframes moveCloud2 {
    0% { 
        right: -500px; 
        top: -10px; 
    }
    100% { 
        right: 110%; 
        top: -10px; 
    }
}

.rain-cloud{
    width: 100px;
    position: absolute;
    animation: moveRainCloud 30s linear; 
    top: -10px; 
    right: -300px; 
}
@keyframes moveRainCloud {
    0% { 
        right: -300px; 
        top: 30px; 
    }
    100% { 
        right: 140%; 
        top: 30px; 
    }
}

.car{
    position: absolute;
    width: 6vw; 
    animation: driveCar 13s linear;
    animation-delay: 5s;
    left: -25vw; 
    bottom: -3vh;
}
@keyframes driveCar {
    0% { 
        left: -250px; 
        bottom: -24px;
    }
    100% { 
        left: 100%; 
        bottom: -24px;
    }
}
.sun{
    position: absolute;
    animation: sunRise 36s linear;
    z-index: 5;
    left: 2vw; 
    bottom: -30vh;
}

@keyframes sunRise {
  0% {
    transform: translate(0, 0);
  }
  20% {
        /* x, y */
        transform: translate(20vw, -80vh);
  }
  70% {
        /* x, y */
        transform: translate(85vw, -80vh);
  }
  100% {
        /* x, y */
        transform: translate(95vw, 120vh);
  }
}
