* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body {
    background-color: $color-dark;
}

@mixin flexLayout{
    display:flex;
    align-items: center;
    justify-content: center;
}


@mixin textStyles($text-transform: uppercase ){
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: $text-transform;
}

@mixin centering($topValue){
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}
%fullSpace {
 height: 100%;
 width: 100%;
} 