body {
	font: 100%  "Helvetica Neue", Helvetica, Arial, sans-serif;         
	line-height: 1.5;
	background: #7f98c3;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
		}
#wrapper{
	width: 700px;
	margin: 0 auto 25px auto;
	padding-bottom:10px;
	background: url(../imager/page_bottom.jpg) no-repeat center bottom; 
	position:relative;
}
p {
	font-size: 85%;
}
#container {
	padding: 0 9px;
	text-align: left;          
	background-image: url(../images/body_back.jpg);          
	background-repeat: repeat-y;          
}
		
/* This is the style for all images inside links */
a img {
	border: none;
}

#header {
	background: #FFF;
	padding: 0 10px 40px 150px;
}
		
#sidebar1 {
	border-radius: 0 15px 0 15px;
	padding: 15px 20px;
	float: right;
	width: 186px;
	background-image: url("../images/corner_tl.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding: 15px 20px;
}
		
#mainContent {
	margin: 0;
	padding: 32px 20px 0 25px;         
	width: 411px;
	float: left;
}

.pod{
	float: left;
	padding: 10px 5px 0 15px;
	border: solid 1px #628954
}

#footer {
	position: relative;
	padding: 70px 0 30px 20px;
	background: #fff;
	background-image: url("../images/corner_br.jpg");
	background-repeat: no-repeat;
	justify-items: center;
	background-position: top right;

}
 #container #footer .overhang {
	background-image: url("../images/sm_flower.png");
	background-repeat: no-repeat;
	width: 84px;
	height: 100px;
	top: 10px;
	left: 611px;
 }

#footer p {
	margin: 0;
	padding: 10px 0;
}

.fltrt {
	/* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}

.fltlft {
	/* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}

.clearfloat {
	/* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.overhang {
	position: absolute;
	top: 0px;
	left: -65px;
	z-index: 1;
}

a:link{
	color: #628958;
}

a:visited{
	color: #666666;
}


a:hover, a:active, a:focus {
	color: #CE5441;
}
h1, h2, h3, h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #628958;
	letter-spacing: -0.04em;
} 
#mainContent h1 {
font-size: 180%;
text-align: right;
margin-right: 20px;
}
#mainContent h2 {
font-size: 150%;
margin-top: 35px;
text-align: right;
margin-right: 20px;
}
h3 {
 font-size: 130%;
} 

.firstletter { color:
#628958; float: left;
font-family: Georgia;
font-size: 75px;
line-height: 50px;
padding: 4px 8px 0 0;
} 